<div class="form-check">
  <div class="card"
       [ngClass]="{'text-white':expiration() && todo.status === 'unfinished', 'bg-warning':expiration() && todo.status === 'unfinished'}">
    <div class="card-header"
         [attr.id]="'todoh' + todo.id">
      <h5 class="mb-0">
        <button class="btn btn-link"
                data-toggle="collapse"
                [attr.data-target]="'#todo' + todo.id"
                aria-expanded="true"
                [attr.aria-controls]="'todo' + todo.id">
          <span [style.text-decoration]="todo.status === 'finished'?'line-through':'none'">{{todo.value}}</span>
          <ng-template [ngIf]="todo.status === 'finished'"><span class="badge badge-danger">Finished</span></ng-template>
          <ng-template [ngIf]="expiration()"><span class="badge badge-danger">Expiration</span></ng-template>
        </button>
      </h5>
    </div>
    <div [attr.id]="'todo' + todo.id"
         class="collapse show"
         [attr.aria-labelledby]="'todoh' + todo.id"
         data-parent="#accordion">
      <div class="card-body">
        <div>
          <strong>Description:</strong><br/>
          <pre>{{todo.description}}</pre>
        </div>
        <div>
          <strong>Deadline:</strong> {{todo.deadline}}
        </div>
        <div class="btn-toolbar">
          <div class="btn-group">
            <button type="button"
                    class="btn btn-success"
                    (click)="changeStatus()">{{todo.status}}</button>
            <button type="button"
                    class="btn btn-danger"
                    (click)="deleteTodo(todo.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
